<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Silex Bootstrap : All you need in a nutshell" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="stylesheets/blackboard.css">
        

    <title>Silex Bootstrap</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/qpleple/silex-bootstrap">Fork Me on GitHub</a>

          <h1 id="project_title">Silex Bootstrap</h1>
          <h2 id="project_tagline">all you need in a nutshell</h2>

          <section id="downloads">
            <a class="zip_download_link" href="https://github.com/qpleple/silex-bootstrap/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/qpleple/silex-bootstrap/tarball/master">Download this project as a tar.gz file</a>
          </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

<h3>What's inside?</h3>

Silex Bootstrap is nothing more than Silex with some stuff already set up for you:

<ul>
    <li>Twitter bootstrap</li>
    <li>HTML5 Boilerplate</li>
    <li>Template rendering with Twig</li>
    <li>Database interface with Doctrine</li>
    <li>Directory structure for your project</li>
</ul>

Here is the example controller included in the sources.
<pre data-language="php">$app->get('/', function() use ($app){
    // Doctrine for database operations
    $app['db.dumb']->insert(array('a' => rand(), 'b' => rand()));

    $data = $app['db.dumb']->findAll();

    // Twig for template rendering
    return $app['twig']->render('index.html.twig', array('data' => $data));
});
</pre>

And the template.
<pre data-language="html">{% extends &#x27;layout.html.twig&#x27; %}

{% block container_content %}
    &lt;table class=&quot;table table-bordered&quot;&gt;
        {% for item in data %}
            &lt;tr&gt;
               &lt;td&gt;{{ item.a }}&lt;/td&gt;
               &lt;td&gt;{{ item.b }}&lt;/td&gt;
            &lt;/tr&gt;
        {% endfor %}
    &lt;/table&gt;
{% endblock %}
</pre>

<h3>Usage</h3>

To start a new project with Silex Bootstrap, just download it, install composer and the dependencies.
<pre data-language="shell">$ cd silex-bootstrap

# Install composer
$ curl -s http://getcomposer.org/installer | php

# Install the dependencies
$ composer.phar install
</pre>
Edit the database parameters in <code data-language="shell">/src/bootstrap.php</code> and you are done!

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Silex Bootstrap maintained by <a href="https://github.com/qpleple">qpleple</a></p>
      </footer>
    </div>

    
    <script src="javascripts/rainbow-custom.min.js"></script>

  </body>
</html>
